.cards {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  .playerCard {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    border: 2px solid $primarycolor;
    border-radius: 15px;
    min-width: 22%;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
    .collumn {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &.left {
        background-color: $primarycolor;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;

        h3 {
          color: white;
          text-align: center;
          margin-bottom: 20px;
        }
        img {
          border-radius: 50%;
          border: 3px solid white !important;
        }
      }
      &.right {
        background-color: white;
        font-size: 13px;
        line-height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        flex: 1;
        .line:nth-of-type(1) {
          font-size: 16px;
          font-weight: 700;
          text-align: center;
          color: $primarycolor;
        }
      }
    }
    .top-right {
      position: absolute;
      top: 0;
      right: 5px;
      font-size: 9px;
      line-height: 20px;
      span {
        font-weight: 500;
      }
    }
    &:hover {
      transform: translate(-1%,-1%);
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
  }
}

@media screen and (max-width: 1366px) {
  .cards {
    .playerCard {
      min-width: 31%;
    }
  }
}
